<h2 class="text-center fw-semi-bold mt-5">Why we are the best</h2>
<p class="text-center fw-semi-bold text-secondary">Who are in extremely love with eco friendly system.</p>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="row experttechnicians">
                <div class="col-md-1">
                 <i class="fa-regular fa-user mt-3"></i>
                </div>
                <div class="col-md-11">
                   <h5 class="mt-2 fw-bold">Expert Technicians</h5>
                </div>
                <div class="row">
                 <p class="text-center  mt-3 text-secondary">Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="row experttechnicians ms-2">
                <div class="col-md-1">
                 <i class="fa-solid fa-id-card mt-3"></i>
                </div>
                <div class="col-md-11">
                   <h5 class="mt-2 fw-bold">Professional Service</h5>
                </div>
                <div class="row">
                 <p class="text-center  mt-3 text-secondary">Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="row experttechnicians ms-2">
                <div class="col-md-1">
                <i class="fa-solid fa-phone mt-3"></i>
                </div>
                <div class="col-md-11">
                   <h5 class="mt-2 fw-bold">Great Support</h5>
                </div>
                <div class="row">
                 <p class="text-center  mt-3 text-secondary">Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 mt-3">
            <div class="row experttechnicians">
                <div class="col-md-1">
                 <i class="fa-solid fa-rocket mt-3"></i>
                </div>
                <div class="col-md-11">
                   <h5 class="mt-2 fw-bold">Technical Skills</h5>
                </div>
                <div class="row">
                 <p class="text-center  mt-3 text-secondary">Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="row experttechnicians ms-2">
                <div class="col-md-1">
                 <i class="fa-solid fa-diamond mt-3"></i>
                </div>
                <div class="col-md-11">
                   <h5 class="mt-2 fw-bold">Highly Recomended</h5>
                </div>
                <div class="row">
                 <p class="text-center  mt-3 text-secondary">Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="row experttechnicians ms-2">
                <div class="col-md-1">
                <i class="fa-regular fa-comment mt-3"></i>
                </div>
                <div class="col-md-11">
                   <h5 class="mt-2 fw-bold">Positive Reviews</h5>
                </div>
                <div class="row">
                 <p class="text-center  mt-3 text-secondary">Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
    </div>

</div>