<p class="text-center fw-bold fs-2 mt-5">CLIENT SAYS:</p>
<p class="text-center text-secondary mt-2">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>

<div class="container">
    <div class="row mx-auto">
        <img src="../Image/person3.jpg.webp" class="mx-auto rounded-circle mt-5" style="width: 160px;" alt="/Image/person3.jpg.webp">
          <span class="text-dark fw-bold text-center mt-2">Adam Smith</span>
          <p class="text-center text-secondary mt-2">Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

    </div>

</div>