<div class="container-fluid bg-dark mt-5">
    <div class="container ">
     <div class="row ">
        <div class="col-md-4 mt-5">
            <div class="row">
                <h5 class="text-light  fw-bold">About us</h5>
            </div>
            <div class="row">
            <p class="text-secondary mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="row">
                <h5 class="text-light  fw-bold">Contact us</h5>
            </div>
            <div class="row">
            <p class="text-secondary mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
            </div>
            <div class="row">
            <h4 class="text-warning fw-bold mt-3">012-6532-568-9746</h4>
            </div>
            <div class="row">
            <h4 class="text-warning fw-bold">012-6532-569-9748</h4>
            </div>
            
        </div>
        <div class="col-md-4 mt-5">
            <div class="row">
                <h5 class="text-light fw-bold">Newsletter</h5>
            </div>
            <div class="row">
            <p class="text-secondary mt-3">You can trust us. we only send offers, not a single spam.</p>
            </div>
            <div class="row">
                 <input type="text" placeholder="Enter your email address" >
            </div>
        </div>
     </div>
     <div class="row">
       <div class="col-md-9">
        <div class="row">
         <p class="text-secondary mt-5">Copyright ©2023 All rights reserved | This template is made with  by <span class="text-warning">Monu Gupta.</span></p>
        </div>
       </div>
       <div class="col-md-3">
        <div class="row ms-auto">
            <div class="col-md-3 col-sm-6">
                <div class="row bg-">
                  <i class="fa-brands fa-facebook text-light mt-5"></i>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                 <i class="fa-brands fa-instagram mt-5 text-light"></i></i>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row ">
                 <i class="fa-brands fa-linkedin mt-5 text-light"></i></i>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row bg-">
                 <i class="fa-brands fa-twitter mt-5 text-light"></i></i>
                </div>
            </div>
        </div>
       </div>
     </div>
    </div>

</div>