<div class="container-fluid mt-5 theylive">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-4">
                <div class="row right mt-5">
                     <h4 class="fw-bold text-center mt-3">GENERAL CONSTRUCTING</h4>
                   <div class="row">
                    <p class="text-secondary mt-2 text-center">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                   </div>
                   </div>
            </div>
            <div class="col-md-4">
                <div class="row right ms-3 mt-5">
                     <h4 class="fw-bold text-center mt-3">BUILDING MODELING</h4>
                   <div class="row">
                    <p class="text-secondary mt-2 text-center">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                   </div>
                   </div>
            </div>
            <div class="col-md-4">
                <div class="row right ms-3 mt-5">
                     <h4 class="fw-bold text-center mt-3">DESIGN BUILD</h4>
                   <div class="row">
                    <p class="text-secondary mt-2 text-center">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                   </div>
                   </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="row right mt-5">
                     <h4 class="fw-bold text-center mt-3">CONSTRUCTION SERVICES</h4>
                   <div class="row">
                    <p class="text-secondary mt-2 text-center">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                   </div>
                   </div>
            </div>
            <div class="col-md-4">
                <div class="row right ms-3 mt-5">
                     <h4 class="fw-bold text-center mt-3">PRE-CONSTRUCTION DESIGN</h4>
                   <div class="row">
                    <p class="text-secondary mt-2 text-center">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                   </div>
                   </div>
            </div>
            <div class="col-md-4">
                <div class="row right ms-3 mt-5">
                     <h4 class="fw-bold text-center mt-3">CONSTRUCTION MANAGEMENT</h4>
                   <div class="row">
                    <p class="text-secondary mt-2 text-center">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                   </div>
                   </div>
            </div>
        </div>

    </div>

</div>