<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-1.jpg"  alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">APARTMENT INTERIOR DESIGN</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-2.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">OFFICE SPACE</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-3.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">CONDO BUILDING</p>
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-4.jpg"  style="height: 325px;"  alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">KITCHEN INTERIOR</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-5.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">COMMERCIAL BUILDING</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-6.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-7.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-8.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-9.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-10.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-11.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <img src="../Image/building-12.jpg" style="height: 325px;" alt="building-1.jpg">
            </div>
            <div class="row">
             <p class="text-center fw-bold fs-5">HOTEL BUILDING</p>
            </div>
        </div>
    </div>

</div>