<div class="container mt-5">
    <div class="row bg-s">
        <div class="col-md-3 col-sm-6">
            <div class="row">
                <img src="../Image/l1.png.webp" alt="">
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row">
                <img src="../Image/l2.png.webp" alt="">
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row">
                <img src="../Image/l3.png.webp" alt="">
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row">
                <img src="../Image/l4.png.webp" alt="">
            </div>

        </div>

    </div>

</div>